<h1> Fornecedor <%=@supplier.brand_name%></h1>
<h2><%=@supplier.corporate_name%></h2>

<dl>
  <dt> Documento:</dt>
  <dd> <%=formatted_cnpj(@supplier.registration_number) %></dd>
  <dt> Endereço:</dt>
  <dd> <%=@supplier.full_address%> - <%=@supplier.city %> - <%=@supplier.state %></dd>
  <dt> E-mail:</dt>
  <dd> <%=@supplier.email%></dd>
</dl>

<div>
  <% if @product_models.any? %>
    <% @product_models.each do | product_model | %>
      <dt> Modelo: </dt>
      <dd> <%= product_model.name%></dd>
      <dt> SKU:  </dt>
      <dd> <%= product_model.sku %> </dd>
    <% end %>
  <% else %>
    <p>Não existe modelo de produto cadastrado</p>
  <% end %>
</div>

<div>
<%= link_to 'Editar', edit_supplier_path(@supplier.id)%>
</div>

<div>
<%= link_to 'Voltar', root_path%>
<div>
