<h1> Galpão <%=@warehouse.code%></h1>
<h2><%=@warehouse.description%></h2>
<div>
  <strong> Nome:</strong> <%= @warehouse.name%>
  <strong> Cidade:</strong> <%= @warehouse.city%>
  <strong> Área:</strong> <%= @warehouse.area %> m2
  <strong> Endereço:</strong> <%= @warehouse.address%> <strong> CEP:</strong> <%= formatted_cep(@warehouse.cep) %>
</div>

<div>
<%= link_to 'Editar', edit_warehouse_path(@warehouse.id)%>
<%= button_to 'Remover', warehouse_path(@warehouse.id), method: :delete %>
</div>

<div>
  <h2>Itens em Estoque</h2>
  <% @stocks.each do |pm, quantity| %>
    <%= quantity %> x <%= pm.sku %>
  <% end %>
</div>

<div>
<%= link_to 'Voltar', root_path%>
<div>